<%= form_with model: [ @source, @source_page ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @source_page.errors.full_messages_for(:name).each do |message| %>
        <div class="text-danger"><%= message %></div>
    <% end %>
  </p>
  <p>
    <%= form.label :url %><br>
    <%= form.text_area :url %>
    <% @source_page.errors.full_messages_for(:url).each do |message| %>
        <div class="text-danger"><%= message %></div>
    <% end %>
  </p>

   <p>
      <div class="col"><%= form.select :category_id, Category.all.pluck(:name,:id), {prompt:'Category'},{class: "form-control"}%> </div>
  </p>

  <p>
    <%= form.label :paginated %>
    <%= form.check_box :paginated %>
  </p>

  <p>
    <%= form.label :max_page_numbers %>
    <%= form.text_field :max_page_numbers %>
  </p>
 
  <p>
    <button type="submit" class="btn btn-success" style="margin-top: 20px;">Submit</button>
  </p>
<% end %>