<%= form_with model: [ @source, @source_page ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :url %><br>
    <%= form.text_area :url %>
  </p>

   <p>
      <div class="col"><%= form.select :category_id, Category.all.pluck(:name,:id), {prompt:'Category'},{class: "form-control"}%> </div>
  </p>

  <p>
    <%= form.label :paginated %>
    <%= form.check_box :paginated %>
  </p>
 
  <p>
    <button type="submit" class="btn btn-success" style="margin-top: 20px;">Submit</button>
  </p>
<% end %>