<%= form_with model: [ @source, @source_page ] do |form| %>
  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.label :url %><br>
    <%= form.text_area :url %>
  </p>

   <p>
    <%= form.label :selectors %><br>
    <%= form.text_area :selectors %>
  </p>
  <p>
    <button type="submit" class="btn btn-success" style="margin-top: 20px;">Submit</button>
  </p>
<% end %>