<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Url</th>
    <th scope="col">Scraped at</th>
    <th scope="col">Active</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @source_pages.each do |source_page| %>
    <tr>
      <th><%= source_page.id %></th>
      <td><%= source_page.name %></td>
      <td><%= link_to source_page.url, source_page.url %></td>
      <td><%= source_page.scraped_at %></td>
      <td><%= source_page.active %></td>
      <td>
        <%= link_to 'Edit', edit_source_source_page_path(@source, source_page),
                    class: 'btn btn-outline-success btn-sm' %>
        <%= link_to "Destroy", source_source_page_path(@source, source_page), data: {
          turbo_method: :delete,
          turbo_confirm: "Are you sure?"
        }, class: 'btn btn-outline-danger btn-sm' %>

        <%#= button_to 'Destroy', source_source_page_path(source, source_page), method: :delete, class: "btn btn-outline-danger" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>



