<%= form_with model: @source do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @source.errors.full_messages_for(:name).each do |message| %>
        <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
    <% @source.errors.full_messages_for(:url).each do |message| %>
        <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :selectors %><br>
    <%= form.text_field :selectors %>
  </div>

  <div>
    <%= form.label :url_prefix %><br>
    <%= form.text_field :url_prefix %>
    <% @source.errors.full_messages_for(:url_prefix).each do |message| %>
        <div class="text-danger"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :active %><br>
    <%= form.text_field :active %>
  </div>

  <button type="submit" class="btn btn-success" style="margin-top: 20px;">Submit</button>

<% end %>