<h1>Categories <%= link_to 'New', new_category_path, class: 'btn btn-outline-success' %> </h1>

<table class="table table-bordered" style="margin: 20px;">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Keywords</th>
    <th scope="col">Icon</th>
    <th scope="col">Products Count</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <th><%= category.id %></th>
      <td><%= category.name %></td>
      <td><%= category.keywords %></td>
      <td> <img width='40' height='40' cloud_name="<%= ENV['CLOUD_NAME']%>" src=<%= cloudinary_url(category.icon_path) %>> </td>
      <td><%= category.products.count %></td>
      <td>
        <%= link_to 'Edit', edit_category_path(category), class: 'btn btn-outline-success btn-sm' %>
        <%= link_to 'Show', category_path(category), class: 'btn btn-outline-dark btn-sm' %>
        <div class="btn-group">
          <%= button_to 'Delete', category_path(category), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
