<table class="table table-bordered" style="margin: 20px;">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Url</th>
    <th scope="col">Image URL</th>
    <th scope="col">Price</th>
    <th scope="col">Source Name</th>
    <th scope="col">Source Page</th>
    <th scope="col">Updated at</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= @product.id %></th>
      <td><%= @product.name %></td>
      <td><%= link_to "product link", @product.url %></td>
      <td><%= image_tag(@product.image_url, size: "40x40") unless @product.image_url.nil? %></td>
      <td><%= @product.price.to_f %></td>
      <td><%= @product.source.name %></td>
      <td><%= link_to "source page url", @product.source_page.url %></td>
      <td><%= @product.updated_at %></td>
</table>
